<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="static/common/js/dist/vue.css">
	<link rel="stylesheet" type="text/css" href="static/admin/css/admin.css">
</head>
<body onkeydown="keyLogin();">
<div id="app">
	<div id="login">
		<xh-login captchaid="{{.CaptchaId}}" imgurl="/captcha/{{.CaptchaId}}.png"></xh-login>
	</div>
</div>
	
</body>
<script src="static/common/js/dist/jquery-3.2.1.min.js"></script>
<script src="static/common/js/dist/common.js"></script>
<script src="static/common/js/dist/page.js"></script>
<script src="static/admin/js/admin.common.js"></script>
</html>